* {
  margin: 0;
  box-sizing: border-box;
}

header {
  border: solid 3px;
  height: 75px;
}

main {
  /* margin: 8px; */
  border: solid 2px red;
  height: 80vh;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  flex-shrink: 1 0 auto;
}

footer {
  border: solid 3px;
  height: 75px;
  flex-shrink: 0;
}

h1 {
  font-size: 24px;
}
