/*#app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  /* margin: auto;
    display: grid;
    display: flexbox;
    /* margin-top: 155px;*/
/*margin-left: 30px;
}*/

/*#news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

/*#actuality {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

/*#Card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/
.city {
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  border-radius: 30px;
}
button {
  justify-content: space-between;
  margin: 50px;
  height: 20px;
}
section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
