.rectangle {
  box-shadow: 0 2px 6px var(--shadowColor);
  height: 420px;
  width: 40px;
  background-color: #61aeff;
  display: flex;
  border-radius: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  height: 50px;
}
.day {
  display: flex;
  margin-top: 10px;
}
.temperaturemaxdbd {
  margin-top: 10px;
  font-size: 20px;
}
.temperatureminbdb {
  margin-top: 20px;
}
.small-rectangle {
  height: 200px;
  width: 15px;
  background-color: white;
  display: flex;
  /* gap: 2px; */
  border-radius: 20px;
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.datebdb {
  margin-top: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
@media (max-height: 667px) {
  .rectangle {
    height: 350px;
    margin-top: 1px;
  }
  .temperatureminbdb {
    margin-bottom: 15px;
  }
}
@media (max-height: 570px) {
  .rectangle {
    height: 300px;
    width: 30px;
  }
  .temperatureminbdb {
    margin-bottom: 10px;
  }
}
