.rectangle {
  box-shadow: 0 2px 6px var(--shadowColor);
  height: 420px;
  width: 40px;
  background-color: #61aeff;
  display: flex;
  border-radius: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  display: flex;
  margin-top: 10px;
}
.small-rectangle {
  height: 200px;
  width: 15px;
  background-color: white;
  display: flex;
  /* gap: 2px; */
  border-radius: 20px;
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.dbd-text {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.day-number {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 10px;
}
.day-friday {
  height: 25px;
}

.dbd-temperature {
  color: white;
  font-size: 15px;
  padding: 10px;
}

@media (max-height: 667px) {
  .rectangle {
    height: 350px;
    margin-top: 1px;
  }
}
@media (max-height: 570px) {
  .rectangle {
    height: 300px;
    width: 30px;
  }
}
