footer {
  border: solid 1px #bdbdbd;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

footer nav {
  display: flex;
  gap: 16px;
}

footer nav a {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 2px 6px var(--shadowColor);
}

footer div {
  display: flex;
  gap: 8px;
}

footer div img {
  width: 13px;
}

p {
  font-size: 10px;
  font-family: var(--general-font);
}
