header {
  width: 100vw;
  height: 80px;
  box-shadow: 0 2px 6px var(--shadowColor);
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  position: relative;
  margin-bottom: 16px;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 225px;
  height: 36px;
  margin-right: 18px;
}

.menu-dropdown {
  position: absolute;
  top: 80px;
  left: 0;
  background: var(--mainColor);
  padding: 32px;
  box-shadow: 0 2px 6px var(--shadowColor);
  border-bottom-right-radius: 8px;
  z-index: 10;
  overflow: hidden;
}

.menu-dropdown nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-dropdown nav a {
  width: 168px;
  height: 40px;
  border-radius: 4px;
  letter-spacing: 1px;
}
