.favorites-cities-container {
  background-color: var(--mainColor);
  border-radius: 40px;
  width: 322px;
  box-shadow: 0 2px 6px var(--shadowColor);
  font-family: var(--general-font);
  color: var(--black);
}

.container-header {
  border-bottom: solid 1px var(--shadowColor);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  color: var(--font-highlight-color);
}

.icon-favorites-on-title {
  width: 20px;
}

.container-body {
  min-height: 382px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
