.precip-forecast-windows {
  margin: 16px 0 0 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
  border: #303030 1 px;
  border-radius: 16px;
  box-shadow: 0 2px 6px var(--shadowColor);
  padding: 8px;
}

.precip-forecast-txt {
  text-align: center;
  font-size: 14px;
}
