.precip-forecast-windows {
  margin: 16px 0 0 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: #303030 1 px;
  border-radius: 16px;
  filter: drop-shadow(black 1px 1px 4px);
  padding: 8px;
}

.precip-forecast-txt {
  text-align: center;
  font-size: 14px;
}
