.cp-main-div {
  margin: 16px 0 0 0;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: #303030 1 px;
  border-radius: 24px;
  filter: drop-shadow(black 1px 1px 4px);
  font-family: "Inter", sans-serif;
}

.cp-slider {
  width: 90%;
  margin: 0;
}

.cp-title {
  padding: 8px 0px 8px 0px;
  font-family: "Inter", sans-serif;
  color: #73bae1;
}

.cp-slide-title {
  font-weight: 500;
}
.cp-slider-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.cp-slide-label {
  font-style: italic;
  font-weight: 300;
}
