form {
  margin-top: 16px;
  top: 16px;
  width: 260px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border: solid 0.5px var(--shadowColor);
  border-radius: 60px;
  box-shadow: 0 2px 6px var(--shadowColor);
  background: var(--mainColor);
}

input {
  border: 0;
  margin-left: 20px; /* ⚠️ Don't touch -> this margin allow to make border-radius of form efficient*/
}

.button-search {
  border-left: solid 0.5px var(--shadowColor);
  padding-left: 20px;
}

.search-icon {
  width: 28px;
  margin-right: 20px;
}
