.carrousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news {
  border-radius: 30px;
}

.arrow {
  background: none;
  border: none;
}

.left-arrow {
  transform-origin: 50%;
  transform: rotate(360deg);
  height: 20px;
  margin: 15px;
}

.right-arrow {
  transform-origin: 50%;
  transform: rotate(180deg);
  height: 20px;
  margin: 15px;
}
