.carrousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news {
  transition: all 20ms ease-in;
  border-radius: 30px;
  height: 350px;
  width: 80%;
}

.arrow {
  background: none;
  border: none;
}

.left-arrow {
  transform-origin: 50%;
  transform: rotate(360deg);
  height: 20px;
  margin: 15px;
}

.right-arrow {
  transform-origin: 50%;
  transform: rotate(180deg);
  height: 20px;
  margin: 15px;
}
.button-link {
  width: 200px;
  margin-top: 10px;

  border: solid 1px #61aeff;

  border: solid 1px #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 60px;
  cursor: pointer;
  transition: all 100ms ease-in;
  padding: 20px 20px 20px;
  box-shadow: 0 2px 6px var(--shadowColor);
}
.element {
  justify-content: center;
  align-items: center;
}

.to-site {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
