/*#app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  /* margin: auto;
    display: grid;
    display: flexbox;
    /* margin-top: 155px;*/
/*margin-left: 30px;
}*/

/*#news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

/*#actuality {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

/*#Card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/
.carrousselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border-radius: 30px;
}

section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
}

img {
  height: 20px;
  margin: 15px;
}

.left-arrow {
  transform-origin: 50%;
  transform: rotate(360deg);
}

.right-arrow {
  transform-origin: 50%;
  transform: rotate(180deg);
}
